@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
  font-family: clipneon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}

.neon {
  /* margin-bottom: ; */
  /* margin-left: -4vw; */
  /* margin-right: -4vw; */
  /* position: relative; */
  /* top: 50; */
  /* left: 60vh; */
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .neon {
    font-size: 24em;
  }
}

.lasenter {
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  color: #28d7fe;
  font-family: lasenter;
  /* margin-top: .4vw; */
  /* font-size: 1vw; */
  transform: rotate(-10deg);
  text-shadow: 0.1vw 0vw 0.25vw #28d7fe, 0.2vw 0vw 0.25vw #28d7fe,
    0.4vw 0vw 0.25vw #28d7fe, 0.1vw 0vw 0.1vw #1041ff, 0.2vw 0vw 0vw #1041ff,
    0.4vw 0vw 0vw #1041ff, 0.1vw 0vw 0.1vw #1041ff, 0.2vw 0vw 0.1vw #1041ff,
    0.4vw 0vw 0vw #1041ff, 0.1vw 0vw 0.8vw #1041ff, 0.2vw 0vw 0.8vw #1041ff,
    0.4vw 0vw 0.8vw #1041ff, 0.2vw 0vw 0.5vw #1041ff, 0.1vw 0vw 0.5vw #1041ff,
    0.2vw 0vw 0.5vw #1041ff, 0.4vw 0vw 0.5vw #1041ff, 0.1vw 0vw 10vw #1041ff,
    0.2vw 0vw 10vw #1041ff, 0.4vw 0vw 10vw #1041ff;
}

.clipneon {
  color: #ffa9a9;
  font-family: clipneon;
  /* font-size: 1vw; */
  text-shadow: -0.1vw 0vw 0.25vw #ffa9a9, -0.2vw 0vw 0.25vw #ffa9a9,
    -0.4vw 0vw 0.25vw #ffa9a9, -0.1vw 0vw 0.1vw #cc0000,
    -0.2vw 0vw 0.1vw #cc0000, -0.4vw 0vw 0.1vw #cc0000, -0.1vw 0vw 0.8vw #cc0000,
    -0.2vw 0vw 0.8vw #cc0000, -0.4vw 0vw 0.8vw #cc0000, 0.2vw 0vw 0.5vw #cc0000,
    -0.1vw 0vw 0.5vw #cc0000, -0.2vw 0vw 0.5vw #cc0000, -0.4vw 0vw 0.5vw #cc0000,
    -0.1vw 0vw 10vw #cc0000, -0.2vw 0vw 10vw #cc0000, -0.4vw 0vw 10vw #cc0000;
}

.moon {
  font-family: moon;
  /* font-size: 1vw; */
}

.moon {
  animation: moon 1s 0s ease infinite;
  -moz-animation: moon 1s 0s ease infinite;
  /* Firefox */
  -webkit-animation: moon 1s 0s ease infinite;
  /* Safari and Chrome */
  -o-animation: moon 1s 0s ease infinite;
  /* Opera */
}

@keyframes moon {
  0%,
  100% {
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color: #fbb4ff;
    text-shadow: -0.1vw 0vw 0.25vw #fbb4ff, -0.2vw 0vw 0.25vw #fbb4ff,
      -0.4vw 0vw 0.25vw #fbb4ff, -0.1vw 0vw 1vw #e82ff5,
      -0.2vw 0vw 0.8vw #e82ff5, -0.4vw 0vw 0.8vw #e82ff5,
      0.2vw 0vw 0.5vw #e82ff5, -0.1vw 0vw 10vw #cb16fa, -0.2vw 0vw 10vw #cb16fa,
      -0.4vw 0vw 10vw #cb16fa;
  }
  50% {
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color: #8f5493;
    text-shadow: -0.1vw 0vw 0.25vw #8f5493, -0.2vw 0vw 0.25vw #8f5493,
      -0.4vw 0vw 0.25vw #8f5493, -0.1vw 0vw 0.8vw #59125e,
      -0.2vw 0vw 0.8vw #59125e, -0.4vw 0vw 0.8vw #59125e,
      0.2vw 0vw 0.5vw #59125e, -0.1vw 0vw 3vw #42114e, -0.2vw 0vw 3vw #42114e,
      -0.4vw 0vw 3vw #42114e;
  }
}

.animation-clipneon {
  animation: flicker 3s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: -0.1vw 0vw 0.25vw #ffa9a9, -0.2vw 0vw 0.25vw #ffa9a9,
      -0.4vw 0vw 0.25vw #ffa9a9, -0.1vw 0vw 0.1vw #cc0000,
      -0.2vw 0vw 0.1vw #cc0000, -0.4vw 0vw 0.1vw #cc0000,
      -0.1vw 0vw 0.8vw #cc0000, -0.2vw 0vw 0.8vw #cc0000,
      -0.4vw 0vw 0.8vw #cc0000, 0.2vw 0vw 0.5vw #cc0000,
      -0.1vw 0vw 0.5vw #cc0000, -0.2vw 0vw 0.5vw #cc0000,
      -0.4vw 0vw 0.5vw #cc0000, -0.1vw 0vw 10vw #cc0000, -0.2vw 0vw 10vw #cc0000,
      -0.4vw 0vw 10vw #cc0000;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
