.contain-section-two {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}

.title {
  margin: 2vh;
}

.subtitle {
  margin: 2vh;
  display: flex;
  flex-direction: column;
  
}
