.contain-section-two{

}

.title {
  /* margin: 2vh; */
  text-transform: uppercase;
}

.subtitle {
  /* margin: 2vh;
  display: flex;
  flex-direction: column; */
  
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .headsect{
  max-height: 100px;
  }
}



.titleMirror {
  /* position: relative; */
  /* font-family: 'Montserrat', Arial, sans-serif; */
  /* font-size: calc(20px + 5vw); */
  /* width: 100%; */
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #1da9cc;
  user-select: none;
  /* white-space: nowrap; */
  filter: blur(0.007em);
}
/* #d651a6 */
.marg {
  margin: 40px
}

.border-gradient {
}
.border-gradient-purple {
}
.fill {
  color: #fff;
  text-decoration:none;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  /* text-shadow: 0 0 0.15em #1da9cc; */
  /* border: 1px solid rgb(118, 243, 252); */
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #d53a9d, #743ad5);
  cursor: pointer;
  position: relative;
  /* background-color: rgba(207, 38, 38, 0); */
}

.fill::after {
  content: "";
  background: -webkit-linear-gradient(45deg, #d53a9d, #0575e6);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}

.shake {
  animation: shake 0.5s linear forwards;
}

.title-text-stwo {
  max-width: 470px;
  margin: 0 20px;
  padding:0
  }

.bkg-text-stwo {
max-width: 470px;
margin: 20px;
padding:0
}

.shake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
