/* flex */

.__flex {
  display: flex;
}
.__fd-col {
  flex-direction: column;
}

.__fd-col-r {
  flex-direction: column-reverse;
}

.__fw-w {
  flex-wrap: wrap;
  
}

.__jc-center {
  justify-content: center;
}
.__jc-between {
  justify-content: space-between;
}
.__jc-around {
  justify-content: space-around;
}

.__ai-center {
  align-items: center;
}

.__ta-c {
  text-align: center;
}