/* flex */

._flex {
  display: flex;
}
._fd_col {
  flex-direction: column;
}

._fd_col_rev {
  flex-direction: column-reverse;
}

._fw_w {
  flex-wrap: wrap;  
}

._jc_center {
  justify-content: center;
}
._jc_between {
  justify-content: space-between;
}
._jc_around {
  justify-content: space-around;
}

._ai_center {
  align-items: center;
}

._tx_a_c {
  text-align: center;
}


._col_1 {width: 8.33%;}
._col_2 {width: 16.66%;}
._col_3 {width: 25%;}
._col_4 {width: 33.33%;}
._col_5 {width: 41.66%;}
._col_6 {width: 50%;}
._col_7 {width: 58.33%;}
._col_8 {width: 66.66%;}
._col_9 {width: 75%;}
._col_10 {width: 83.33%;}
._col_11 {width: 91.66%;}
._col_12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col_"] {
    width: 100%;
  }
}